     .layout {
      	background: #fff;
    }

   /* header样式开始*/
    header {
        height: 81px;
        background: #FFFFFF;
        border-bottom: 1px solid #e7e7e7;
    }
    .container{
        width: 1196px;
        margin: 0 auto;
    }

    .header-top {
        height: 81px;
    }
    .ivu-menu-horizontal {
        height: 81px;
        line-height: 74px;
    }
    .region{
        // float: left;
        // margin-left: 14px;
        width: 80px;
        margin-top: 26px;
        height: 36px;

    }
    .nav-center{
        // margin-left: 20px;
    }
    .nav-r{
        float: right;
        margin-top: 26px;


    }
    .btn1{

        height: 36px;

        margin-left: 12px;

    }
    .ivu-menu-horizontal .ivu-menu-item, .ivu-menu-horizontal .ivu-menu-submenu {
        float: left;
        padding: 0 18px;
        position: relative;
        cursor: pointer;
        z-index: 3;
        transition: all .2s ease-in-out;
        border-top: 6px solid #fff;
    }


    .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item-active, .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item:hover, .ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu-active, .ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu:hover {
        color:#51ad79;
        border-bottom:none;
        /*border-top: 6px solid #51ad79;*/
        font-size: 16px;

    }
    .ivu-menu-item {
        display: block;
        outline: 0;
        list-style: none;
        font-size: 16px;
        position: relative;
        z-index: 1;
        cursor: pointer;
        transition: all .2s ease-in-out;
    }
    .ivu-menu {
        list-style: none;
        color: #657180;
        font-size: 16px;
    }
    .ivu-select-selection:hover {
        border-color: #51ad79;

    }

    .ivu-btn-primary {
        color: #fff;
        background-color:  #51ad79;
        border-color:  #51ad79;
    }
    .ivu-btn-ghost:hover {
        color: #51ad79;
        background-color: transparent;
        border-color: #51ad79;
    }
    .ivu-btn-primary:hover {
        color: #fff;
        background-color: #51ad79;
        border-color: #51ad79;
        opacity: 0.8;
    }
    .banner{
        background: url("../img/index-banner.png") center top no-repeat;
        height: 512px;
        background-size: cover;
    }
    .banner-main{
        width: 802px;
        padding: 24px;
        background: #272727;
        border-radius: 4px;
        opacity: 0.7;
        margin-top: 80px;
        margin: auto;
    }
    .banner-logo{
        width: 109px;
        margin: 20px auto;
    }
    .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab {
        margin: 0;
        margin-right: 14px;
        height: 31px;
        padding: 5px 16px 4px;
        border: 1px solid #d7dde4;
        border-bottom: 0;
        border-radius: 4px 4px 0 0;
        transition: all .3s ease-in-out;
        background: #f5f7f9;
    }
    .ivu-input {
        display: inline-block;
        width: 100%;
        height: 41px;
        line-height: 1.5;
        padding: 4px 7px;
        font-size: 12px;
        border: 1px solid #d7dde4;
        border-radius: 4px;
        color: #657180;
        background-color: #fff;
        background-image: none;
        position: relative;
        cursor: text;
        transition: border .2s ease-in-out,background .2s ease-in-out,box-shadow .2s ease-in-out;
    }
    .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-active {
        height: 32px;
        padding-bottom: 5px;
        background: #fd1212;
        transform: translateZ(0);
        border-color: #d7dde4;
        color: #39f;
    }



    /*header样式结束*/
    .ivu-tabs-nav .ivu-tabs-tab-active {
        color: #fff;
    }
    .search{
        margin: 0px 0px;
        border-radius: 0 4px 4px 0 ;
        width: 94px;
        margin-left: -4px;
    }

    /*app样式开始*/
    .app{
        position: relative;
    }
    .title-h5{
        font-size: 34px;
        font-weight: normal;

    }
    .app p{
        font-size: 14px;
        line-height: 36px;

    }
    .title{
        height: 136px;
        border-top: 1px solid #949494;
        margin-top: 72px;

    }
    .text{
        text-align: center;
        background: #fff;
        position: absolute;
        top: -26px;
        left: 0px;
        right: 0;
        margin: auto;
        width: 200px;

    }
    .app-list{
        height: 140px;
    }
    .app1-l{
        float: left;
    }
    .app1-text{
        float: left;
        /*padding: 0px 0 0 20px;*/
        margin-left: 4px;
        margin-top: 4px;
    }


    .app1{
        width: 214px;
        margin: 0 auto;
    }
    .app1-text h5{
        font-size: 24px;
        font-weight: 400;
    }
    .app1-text p{
        font-size: 14px;
    }
    .app-more{
        width: 36px;
        margin: 0 auto;
        margin-top: -20px;
    }



    /*app样式结束*/
    .main{
        position: relative;


    }
    .main-title{
        height: 50px;
        border-top: 1px solid #949494;
        margin-top: 72px;


    }
    .main-text{
        text-align: center;
        background: #fff;
        position: absolute;
        top: -26px;
        left: 0px;
        right: 0;

        margin: auto;
        width: 200px;

    }

    .main-title-h5{
        font-size: 34px;
        font-weight: normal;

    }
    .mian p{
        font-size: 14px;
        line-height: 36px;

    }




    /*mian*/
    .ivu-menu-dark {
        background: #fff;
    }
    .ivu-menu-dark.ivu-menu-horizontal .ivu-menu-item-active, .ivu-menu-dark.ivu-menu-horizontal .ivu-menu-item:hover, .ivu-menu-dark.ivu-menu-horizontal .ivu-menu-submenu-active, .ivu-menu-dark.ivu-menu-horizontal .ivu-menu-submenu:hover {
        color: #51ad79;
    }
    .nav-padding{
        float: left;
        padding: 0 48px;
        position: relative;
        cursor: pointer;
        z-index: 3;
        transition: all .2s ease-in-out;
        border-top: 6px solid #fff;
    }
    .new-tab{
        border: 1px solid #51ad79 !important;
        color:#51ad79 !important;
        float: left;
        margin-right: 6px;
    }
    .main-time{
        padding: 0 8px;
        border-left: 1px solid #ccc;
        color: #949494;
    }
    .main span{
        margin-left: 6px;

    }
    .new-last li{
        border-bottom: 1px solid #ccc;

        padding: 0 12px 40px 12px;
        margin-bottom: 20px;

    }
    .new-last h3{
        font-size: 18px;
        padding-bottom: 24px;
        font-weight: 400;

    }
    .new-title-h5{
        font-size: 24px;
        font-weight: normal;


    }
    .new-text{
        text-align: center;
        background: #fff;
        position: absolute;
        top: -20px;
        left: 0px;
        right: 0;

        margin: auto;
        width: 80px;

    }
    .new2 ul li{
        width: 410px;
        overflow-x: hidden;
        margin: 0 auto;
        font-size: 18px;
        border-bottom: 1px dashed #ccc;
        padding: 20px 0;

    }
    .new-more{
        width: 100%;
        height: 50px;
    }
    .new2{
        height: 609px;
        padding-top: 20px;
    }
    .top{
        padding: 10px;
        background: #51ad79;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        bottom: 30px;
    }


    .footer{
        height: 163px;
        border-top: 5px solid #51ad79;
        background: #333333;
        margin-top: 140px;
        padding-top: 22px;
    }
    .footer-l{
        float: left;
    }
    .footer-r{
        float: right;
        color: #fff;
    }

    .footer-l ul li{
        color: #fff;
        float: left;
        padding: 0 16px;
        border-right: 1px solid #474747;

    }
    .footer-r ul li{
        color: #fff;
        float: left;
        padding: 0 16px;
        border-left: 1px solid #474747;

    }
    .footer-l div{
        color: #b4b4b4;
        padding-left: 16px;
    }
    .cardList{
        width:1000px;
        margin:10px auto;
        box-shadow:2px 2px 5px #efefef,-2px -2px 5px #efefef;
    }
    .ivu-card-head{
        border-bottom:none;
    }
    .ivu-card-head h3{
        text-align:center;
        font-size:22px;
        font-family:normal;
        color:#000;
    }
    .cardList-content h3{
        margin-bottom:20px;
        padding-bottom:15px;
        border-bottom:1px solid #efefef;
    }
    .cardList-content h3 span{
        padding-left:10px;
        border-left:4px solid #51ad79;
    }
    .forgetPassWord{
        float:right;
    }
    .loginList{
        text-align:center;
    }
    .loginList li{
        display:inline-block;
        margin:0 15px;
    }
    .loginTab  .ivu-tabs-bar{
        border-bottom:1px solid #f3f3f3;
    }

